@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Libre+Baskerville&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgba(245, 222, 179, 0.794);

}
.navcontainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
}
.homespan1{
  font-family: 'Dancing Script', cursive;
  color: rgb(157, 87, 87);
  font-size: 24px;
}
.navh2{
  width: 80%;
  margin-left: 5%;
}
.navbar ul{
  display: flex;
  gap: 5rem;
}
.navbar ul li{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.navbar ul li a{
text-decoration: none;
color: rgb(157, 87, 87);
margin-right: 50%;
}
.carticonnav i{
  color: rgb(157, 87, 87);
  font-size: 24px;
}
.homename h2{
  font-size: 300px;
  color: rgba(157, 87, 87, 0.301);
  margin-left: 18%;
  letter-spacing: 30px;
  font-family: 'Libre Baskerville', serif;
  opacity: 0.4;
}
.homename p{
  font-size: 250px;
  color: rgba(157, 87, 87, 0.274);
  margin-left: 6%;
  letter-spacing: 5px;
  font-family: 'Libre Baskerville', serif;
}
.carousel2{
  width: 30%;
  margin-left: 35%;
  position: relative;
  top: -520px;
  z-index: 1;
  opacity: 0.9;
}
#carouselExampleAutoplaying2 {
  max-height: 500px; /* Adjust this value as needed */
}

/* Custom CSS to reduce image height */
#carouselExampleAutoplaying2 img {
  height: auto;
  max-height: 550px; /* Adjust this value as needed */
}
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.carousel-control-prev {
  left: -30px; /* Adjust this value to position the previous button */
}

.carousel-control-next {
  right: -30px; /* Adjust this value to position the next button */
}

.home2 h2{
color: black;
font-size: 40px;
font-family: 'Libre Baskerville', serif;
width: 50%;
}
.home2head {
  margin-left: 35%;
}
.collection{
  color: rgba(157, 87, 87, 0.274);
  font-family: 'Dancing Script', cursive;
  font-size: 74px;
  margin-left: 5%;
 }
 .carousel{
  width: 85%;
  margin-left: 5%;
 
}
#carouselExampleAutoplaying {
  max-height: 400px; /* Adjust this value as needed */
}

/* Custom CSS to reduce image height */
#carouselExampleAutoplaying img {
  height: auto;
  max-height: 450px; /* Adjust this value as needed */
}
.carousel-inner {
  max-height: 1600px; /* Adjust this value as needed */
}

.carousel-inner img {
  height: auto;
  width: 100%; /* This will maintain the image's aspect ratio */
}
.carousel-img {
  max-height: 700px; /* Adjust this value as needed */
  width: 100%;
  object-fit: cover; /* Adjust the object-fit property as needed (e.g., 'contain', 'fill') */
  margin: 0 auto; /* This will center the image horizontally */
}

.card-img-top {
  height: 350px; /* Set the desired fixed height for the images */
  object-fit: cover; /* This will ensure the images maintain their aspect ratio */
}
.card-img-top:hover{
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px grey;
}
.row{
  margin-left: 0;
}
.home5wrapper{
  display: flex;
}
.home5 .card{
  width: 20%;
  margin-left: 70px;
  background-color: rgb(246, 240, 240);
}

.home5header{
  margin-left: 38%;
  margin-top: 7%;
}
.h5p{
  margin-left: 9%;
  font-family: 'Dancing Script', cursive;
  font-size: 29px;
  color: rgba(157, 87, 87, 0.809);

}
.h5h2{
color: black;
font-size: 40px;
font-family: 'Libre Baskerville', serif;
}
.aboutimg{
  width: 20%;
  height: 25vh;
}
.firstabout{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  gap: 6rem;
}
.content1{
  width: 40%;
}
.teamhead{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 2%;
}
.card2{
background-color: white;
width: 20%;
margin-left: 10%;
margin-bottom: 2%;
}
.card2 .card-body{
 padding: 12px;
}
.card3{
  width: 8%;
  margin-left: 9%;
  margin-bottom: 5%;
}
.card-img-top2{
  width: 90%;

}


 
