*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgba(245, 222, 179, 0.794);

}
.navcontainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}
.homespan1{
  color: rgb(157, 87, 87);
}
.navh2{
  width: 50%;
  margin-left: 55%;
}
.navbar ul{
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  margin-right: 45%;

}
.navbar ul li{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.navbar ul li a{
text-decoration: none;
color: rgb(157, 87, 87);

}
.carticonnav i{
  color: rgb(157, 87, 87);
  font-size: 24px;
}