@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Libre+Baskerville&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgba(245, 222, 179, 0.794);

}
.navcontainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}
.homespan1{
  font-family: 'Dancing Script', cursive;
  color: rgb(157, 87, 87);
  font-size: 24px;
}
.navh2{
  width: 80%;
  margin-left: 55%;
}
.navbar ul{
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  margin-right: 45%;

}
.navbar ul li{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.navbar ul li a{
text-decoration: none;
color: rgb(157, 87, 87);

}
.carticonnav i{
  color: rgb(157, 87, 87);
  font-size: 24px;
}
.homename h2{
  font-size: 320px;
  color: rgba(157, 87, 87, 0.301);
  margin-left: 18%;
  letter-spacing: 30px;
  font-family: 'Libre Baskerville', serif;
  opacity: 0.4;
}
.homename p{
  font-size: 250px;
  color: rgba(157, 87, 87, 0.274);
  margin-left: 6%;
  letter-spacing: 5px;
  font-family: 'Libre Baskerville', serif;
}
.carousel{
  width: 35%;
  margin-left: 35%;
  position: relative;
  top: -520px;
  z-index: 1;
  opacity: 0.9;
}
#carouselExampleAutoplaying {
  max-height: 400px; /* Adjust this value as needed */
}

/* Custom CSS to reduce image height */
#carouselExampleAutoplaying img {
  height: auto;
  max-height: 650px; /* Adjust this value as needed */
}
/* .carousel-control-prev,
.carousel-control-next{
  bottom: -500px;
} */
.home2 h2{
color: black;
font-size: 40px;
font-family: 'Libre Baskerville', serif;
width: 50%;
}
.home2 {
  margin-left: 35%;
}
.collection{
  color: rgba(157, 87, 87, 0.274);
  font-family: 'Dancing Script', cursive;
  font-size: 74px;
  margin-left: 5%;

  }

